.viewPlans{
    margin: 2em;
    text-align: left;
    gap:2em;
    width:60%;
    height:100%;
}

.viewPlans table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.viewPlans table th{
    background-color: rgb(211, 211, 211);
    font-size: large;
}

.viewPlans th, .viewPlans td {
    padding: 1em;
    text-align: left;
    border: 3px solid rgb(87, 87, 87);
    width: auto;
}

.viewPlans th:first-child, .viewPlans td:first-child{
    width: 25%;
}

.viewPlans button{margin: 1em 0}